<%= form_with model: expense, url: group_expenses_path, method: :post do |f| %>
  <div>
    <%= f.text_field :name, placeholder: 'Transaction name' %>
  </div>

  <div>
    <%= f.number_field :amount, step: :any, min: 0, placeholder: 'Insert a price' %>
  </div>

  <div>
    <% groups.each do |group| %>
    <div>
      <%= f.label group.name %>
     
      <%= check_box_tag '[groups][]', group.id %>
    </div>
    <% end %>
  </div>

  <div>
    <%= f.submit 'Add transaction' %>
  </div>
<% end %>